.btn {
  background-color: #fff;
  border: 2px solid var(--color-principal-2);
  color: var(--color-principal-2);
  width: 200px;
  transition: ease-in-out 0.2s;
}

.btn:hover {
  border: 2px solid var(--color-principal-0);
  color: var(--color-principal-0);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.btn:active {
  background-color: #f7fcff;
  border: 2px solid #00aeff;
  color: #00aeff;
}

.btn::first-letter {
  text-transform: capitalize;
}

.btnDisabled {
  background-color: var(--color-gray);
  color: #fff;
  width: 200px;
  transition: ease-in-out 0.2s;
}