@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    height: 100%;

    --color-principal-0: #1393ce;
    --color-principal-1: #0073A9;
    --color-principal-2: #006689;
    --color-principal-3: #001E2C;
    --color-danger-1: #E15A5A;
    --color-danger-2: #C94242;
    --color-container: #EEF4F8;
    --color-gray: #737678;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #001E2C;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }